/* BASE DU CSS POUR LES NAVIGATEURS*/

:root
{
    --or: #C89446
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    line-height: 1.625;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #6F6F6F;
}

a{
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

img{
    max-width: 100%;
    height: auto;
}

.header{
    background: 
            linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
            url(img/magret1.jpg) center center / cover no-repeat scroll;
    color: white;
}

.topbar{
    font-size: .875rem;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 10px;
    
}

.menu-item:hover{
    color: var(--or);
}

.menu-item{
    display: inline-block;
    margin: 0 15px;
}

.logo{
    margin-bottom: 12px;
}

.baseline
{
    padding: 50px 0 200px 0 ;
    text-align: center;
}

.baseline-welcome
{
    font-family: 'Pinyon Script',  serif;
    color: var(--or);
    font-size: 3.75rem;
    display: block;
}

.baseline-name{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 10px;
    display: block;
    text-transform: uppercase;
}

.baseline-slogan{
    font-size: 1rem;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-button{
    border: solid 1px var(--or);
    padding: 8px 10px;
    transition: .5s;
    margin-top: 20px;
}

.menu-button:hover{
    background: var(--or);
    color: white
}

.home-section{
    padding-top: 5px;
}

.container-small{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1150px;
}


.title{
    font-size: 1.75rem;
    line-height: 1.1;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.title::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 6px;
    color: var(--or);
    margin-bottom: .5rem;
}

.title span{
    font-family: 'Pinyon Script', serif;
    color: var(--or);
    font-size: 2.5rem; 
    display: block;
    text-transform: none
}

.more{
    color: var(--or);
}

.more::after{
    content: '  >';
}

.more:hover{
    text-decoration: underline;
}

.block{
    margin-bottom: 50px;
}

.block-img img{
    margin: 0 auto;
    border: solid 1px var(--or);
}

.block-img img{
    display: block;
}

.block-img{
    border: none;
    position: relative;
}

.block-centered{
    text-align: center;
}

hr{
    height: 2px;
    width: 250px;
    color: var(--or)
}

.menu-menu{
    margin: 40px 0;
    font-weight: 700;
    color: #000;
    text-align: center;   
    
}

.menu-menu a{
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    position: relative
}

.menu-menu a::after{
    content: '';
    display: block;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 1px;
    opacity: 0;
    background: var(--or);
    transition: .3s;
}

.menu-menu .active::after, .menu-menu a:hover::after{
    bottom: 0;
    opacity: 1;
}

.menu-summary-item{
    position: relative;
    padding-left: 120px;
    margin-bottom: 30px;
}

.menu-summary-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.menu-summary-title{
    font-size: 1.125rem;
    font-weight: bold;
    color: #383838;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
}

.menu-summary p{
    margin: 0;
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.menu-summary-price{
    font-family: 'Pinyon Script', serif;
    font-size: 2.5rem;
    color: var(--or);
    line-height: 1;
}

.reservation{
    background: 
            linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
            url(img/reservation.jpg) center center / cover no-repeat fixed;
    color: rgba(255, 255, 255, 0.6);
    padding: 50px 0;
    height: 750px;
}

.reservation .title{
    color: white;
}

.reservation input, .reservation select{
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #6F6F6F;
    background: transparent;
    text-transform: uppercase;
    height: 40px;
    color: white;
    font-family: 'Source Sans Pro', Serif;
    padding: 0 .5rem;
    font-size: 0.75rem;
    transition: background .3s, border-color .3s;
    appearance: none;
}

.reservation select{
    background: no-repeat right 0.5rem center url(img/select.svg);
}

.reservation input:focus, .reservation select:focus{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--or)
}

.reservation .button{
    width: 100%;
}

.button{
    font-weight: 700;
    font-size: 0.875rem;
    color: white;
    background: var(--or);
    border: solid 1px transparent;
    padding: 11px 1rem;
    border-radius: 12px;
    text-transform: uppercase;
    transition: .3s;
}

.button:hover{
    color: var(--or);
    border: solid 1px var(--or);
    background: transparent;
    cursor: pointer;
}

select option{
    color: #000;
}

.reservation p{
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.map{
    width: 100%;
    height: 460px;
    display: block;
}

.footer{
    background: #383838 bottom right no-repeat;
    font-weight: 300;
    color: white;
    padding: 40px 0;
}

.footer-title{
    color: var(--or);
    margin-bottom: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-colum{
    margin-bottom: 2rem;
}



@media only screen and (min-width: 700px){
    html{
        font-size: 16px;
    }
    .logo{
        margin-bottom: 0;
        transition: .5s;
    }
    .logo:hover{
        color: var(--or);
        font-size: 1.1em;
    }
    .topbar{
        justify-content: space-between;
        align-items: center;
        display: flex;
        max-width: 1150px;
        margin: 0 auto;
    }
    .baseline{
        padding: 125px 0px 230px;
    }
    .baseline-slogan{
        font-size: 1.5rem;
    }
    .baseline-name{
        font-size: 4.375rem;
        letter-spacing: 18px;
        padding-top: 8px;
        padding-bottom: 15px;
    }
    .baseline-welcome{
        font-size: 3.75rem;
    }
    .menu-button{
        margin-top: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 730px){
    .block{
        margin-bottom: 100px;
    }

    .block-last{
        margin-bottom: 60px;
    }

    .container-small{
        margin-top: 2rem;
    }

    .block-left, .block-right{
        align-items: center;
        display: flex;
    }

    .block-img::before{
        content: '';
        display: block;
        border: solid 1px var(--or);
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .block-right .block-img::before{
        left: auto;
        right: -30px;
    }
    .block-img img{
        border: none;
        position: relative;
        z-index: 1;
    }

    .block-img{
        width: 350px;
        flex: none;
        margin-right: 30px
    }

    .block-left  .block-body{
        margin-left: 94px;
    }

    .block-right  .block-body{
        margin-right: 94px;
        order: -1;
    }

    .title{
        margin-bottom: 1.2rem;
    }

    .title::before{
        margin-bottom: 10px;
    }

    .more{
        display: block;
        margin-top: 1.3rem
    }

    .home-section{
        background: top 95px right 0px url(img/oranges.jpg) no-repeat,
                    top 640px left 0px url(img/spices.jpg) no-repeat;
    }
    .menu-menu a{
    margin: 0 33px;
    }

    .menu-summary{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 85px 0;
        justify-content: space-between;
    }

    .menu-summary-item{
        padding-left: 192px;
        margin: 10px 0;
        width: 50%;
        margin-bottom: 110px;
        width: calc(50% - 35px);
    }

    .menu-summary-item:nth-child(even) {
        text-align: right;
        padding-left: 0;
        padding-right: 192px;
    }

    .menu-summary-item:nth-child(even) .menu-summary-img{
        left:auto;
        right: 0;
    }

    .menu-summary-price{
        padding-top: 3px;
    }

    .menu-summary-img{
        width: 160px;
    }

    .menu-summary-title{
        margin-top: 0;
        line-height: 1.2;
        background: white;
    }

    .menu-summary p{
        background: white;
    }

    .menu-summary::before{
        content: '';
        display: block;
        width: 420px;
        height: 420px;
        border: solid 1px var(--or);
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%, 0) rotate(45deg);
    }
    .block-chief{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        line-height: 1.3rem;
    }

    .block-chief span{
        margin-bottom: 10px;
    }

    .block-chief .block-img::before{
        display:none;
    }

    .block-chief .block-img{
        flex: none;
        width: 404px;
        order: 2;
    }

    .reservation{
        padding: 100px 0;
    }

    .reservation-form{
        align-items: center;
    }
    .reservation-form-row{
        margin: 64px 0;
        display: flex;
        justify-content: space-between;
    }

    .reservation-form-row input, .reservation-form-row select{
        width: calc(33.33% - 20px);
        margin-bottom: 0;
    }

    .reservation .button{
        width: calc(33.33% - 20px);
    }

    .footer-columns{
        display: flex;
        justify-content: space-between;
    }

    .footer-colum{
        width: 310px;
        flex: none;
        margin-right: 50px;
    }
    .footer-colum:first-child{
        width: 450px;
    }

    .footer-colum:last-child{
        margin-right: 0;
        flex: none;
    }
    .footer ul{
        padding-left: 0;
        list-style: none;
    }
    .footer ul li::before{
        content: '- ';
    }
    .footer a{
        text-decoration: underline;
        transition: .3s;
    }
    .footer a:hover{
        color: var(--or)
    }
    .footer-credits{
        font-size: .8rem;
    }
    .footer-credits span {
        font-weight: bold;
    }
    .footer{
        background-image:  url(img/splash.png);

    }

}